body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 214, 217);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li h1 {
    margin-right: 510px;
    margin-left: 60px;
    padding: 5px;
    color: purple;
}

li a {
    display: flex;
    color: purple;
    font-size: 18px;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
}

.active {
    background-color: lightgray;
    color: purple;
}

li a:hover {
    color: lightcoral;

}

#icon {
    font-size: x-large;
    padding: 10px;
    margin: auto;
    color: purple;
}

#icon:hover {
    color: lightcoral;
}

.bg-img {
    background-image: url(mineshop.png);
    font-size: 10.6em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img h1 {
    margin-top: 0%;
    text-align: center;
    color: rgb(138, 87, 87);
}

.bg-img h4 {
    font-size: 0.5em;
    text-align: center;
}

#bg_img {
    display: flex;
}